section {
  min-height: calc(100vh - 172px);
  background-color: #e4d8ca;
}

header {
  background-color: #e4d8ca;
}

footer {
  background-color: #e4d8ca;
  
}

.custom-img {
  width: 300px;
  height: auto; 
}

.footer-icons-container {
  display: flex; 
  justify-content: center; 
  gap: 20px; 
}

.btn {
  margin: 1px !important;
}

.nav-item.active .nav-link {
  color: white;
  font-weight: bold;
}

.tech-h4 {
  margin-bottom: 2rem
}